//
//  Development.xcconfig
//  Going-iOS
//
//  Created by 곽성준 on 12/21/23.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

//Key
KAKAO_NATIVE_APP_KEY = e3061837289ad2e10006ec957af4a1b3

// URL
BASE_URL = http:/$()/52.78.68.21

//운영서버
//https:/$()/api.doorip.p-e.kr
